= form_for @comment do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg

  .field

    = f.hidden_field :user_id, { :value => @comment.user.id }
    = f.hidden_field :post_id, { :value => @comment.post.id }

    = f.label :body, "Comment"
    %br
    = f.text_area :body
  .actions
    = f.submit 'Save'