.row
  .col-md-8
  .col-md-4
    -if current_user
      = link_to(current_user.name, edit_user_registration_path)
      \|
      = link_to('Logout', destroy_user_session_path, :method => :delete)
    -else
      =link_to 'Sign Up', new_user_registration_path
      \|
      =link_to 'Sign In', new_user_session_path

.row
  .col-lg-12
    %h1 Listing posts

    %table.table
      %tr
        %th Title
        %th User
        %th
        %th
        %th

      - @posts.each do |post|
        %tr
          %td= post.title
          %td= post.user.name
          %td= link_to 'Show', post
          %td= link_to 'Edit', edit_post_path(post)
          %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New Post', new_post_path
